<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="static/js/jquery-3.3.1.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
　　$("#initializer").click(function(){
　　　　user_name = $("#user_name").text()
        alert(user_name)
        //alert(user_name)
        window.location.href = "/finish_account/"+user_name
        //$(location).attr('href', '/new_account/'+username);
　　});
});

    </script>

</head>
<body>
    <div class="ui pointing menu">
  <a class="active item" id = "log_in">
    have an account , login now
  </a>
  <div class="right menu">
    <div class="active item" id = "sign_up">
      new to the system, sign up
    </div>
  </div>
</div>

    <div class="ui four column grid">
  <div class="row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
      <div class="column"></div>
  <div class="column"></div>
  </div>
        <div class = "row"></div>
        <div class = "row"></div>
        <div class = "row"></div>
        <div class = "row"></div>
        <div class = "row"></div>
    <div class = "row">
  <div class="column"></div>
  <div class="column"></div>

        <div class = "ui center aligned container ">
        <div class = "ui middle aligned container " id = "ver">
    <div class="ui segment">
        <p>{{ user_name }}</p>
  <i class="inverted circular users link icon"></i>
</div>
            <p></p>
    <div class="ui vertical animated button" tabindex="0">
  <div class="hidden content" id = "initializer">join now</div>
  <div class="visible content">
    <i class="users icon"></i>
  </div>
</div>
        </div>
        </div>
  <div class="column"></div>
  <div class="column"></div>
    </div></div>

</body>
</html>